h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #4e4e4e;
}

.elit h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.amet {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}

.dolor-wrap .icon {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    font-size: 20px;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 25px;
}

.dolor-wrap:hover .icon {
    color: #ffffff;
    border: 1px solid #EC5538;
    background-color: #EC5538;
}

.media-body h3 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #333333;
    font-weight: 700;
}

.img-responsive{
    max-width: 100%;
}

.dolor-wrap p {
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.dolorr-wrap {
    padding: 40px 30px;
    background: #fff;
    border-radius: 4px;
    margin: 0 0 40px;
    margin-top: 0px;
    -webkit-transition: .4s;
    transition: .4s;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.dolorr-wrap:hover {
    background-color: #FAFAFA;
}




#skill{
    background-image: url(../images/skill-bg.png);
    position: relative;
    background-position: center;
}

#skill::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.elit.text-center.mt-5.pt-5.pb-5 {
    color: #fff;
    opacity: 0.9;
}

.mill {
    color: white;
    font-size: 34px !important;
}


#bar1 .fill {
    background-color: #2d7da4 !important;
}

#bar2 .fill {
    background-color: #ffcc33 !important;
}

#bar3 .fill {
    background-color: #6aa42f !important;
}

#bar4 .fill {
    background-color: #db3615 !important;
}



.esse {
    color: #666;
    font-size: 15.5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .esse{
    color: #EC5538 !important;
    background-color: #F9FAFB !important;
    border: 1px solid #E9EFF4 !important;
    font-weight: 500 !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
    border-radius: 5px !important;
}

a:hover {
    color:transparent;
    text-decoration: underline;
}

.esse:hover {
    color: #666 !important;
}

.suffered {
    color: #4e4e4e;
    line-height: 22px;
    font-size: 15px;
}

.media-body h5 {
    font-weight: 600;
    font-size: 18.5px;
    color: #4e4e4e;
}

.nav-link.text-white {
    padding-left: 10px;
}

.m__bot {
    margin: 0 0 10px 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-size: 1.25em;
    font-weight: 300;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

div, p {
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.clear:after {
    clear: both;
}

.clear:after, .clear:before {
    content: "";
    display: table;
}

.switch__box-heading.m__bot {
    font-size: 19px;
    font-weight: 600;
}

.switch__box-copy.m__bot {
    font-size: 14px;
}

.video-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    /*! background-color: #EC5538; */
    top: 50%;
    left: 42%;
    color: #fff;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    border: 2px solid #fff;
}

.videos a:hover {
    color: #fff;
    text-decoration: underline;

}

#testimonials {
    background-color: #FAFAFA;
}



 .testimonial{
    background-color: #FAFAFA;
    margin: 15px;
}
        .testimonial .testimonial-content{
    padding: 40px 25px 40px 25px;
    margin-bottom: 35px;
    background: #fff;
    position: relative;
    text-align: center;
    color: #707070;
}


.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #0CCA4A;
}

.mx-auto.d-block {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.elit.text-center.test.mt-5.pt-5.pb-5 {
    color: #4e4e4e;
}

.elit.text-center.test.mt-5.pt-5.pb-5 .mill {
    color: #4e4e4e;
}

.test-text h4 {
    font-size: 18px;
}

#partners {
    background-image: url(../images/partners/partner-bg.png);
    position: relative;
    background-position: center;
    background-size: cover;
}

#partners .amet {
    color: #fff;
}

#footer-top {
    background-color: #f5f5f5;
    border-bottom: 5px solid #EC5538;

}


ul {
    list-style: none;
}


.widget a {
    color: #808080;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.widget a:hover {
    text-decoration: none;
    color: #EC5538;
    transition: 0.2s;
}

.widget.my-5 {
    line-height: 30px;
}

.widget h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.footer-text {
    float: right;
}

#footer {
    background-color: #2e2e2e;
    color: #fff;
    font-weight: 300;

}

.list-group a {
    color: #fff;
    font-weight: 300;
}

.footer-texts a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.footer-texts a:hover {
    color: #EC5538;
    text-decoration: none;
    transition: 0.2s;
}

.list-group a:hover {
    color: #EC5538;
    text-decoration: none;
    transition: 0.2s;
}


.modales {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modales .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.modales .close-modal svg {
    width: 1.75em;
    height: 1.75em;
}
.modales .modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal-content {
    border: none;
    position: unset !important;
}

.modales.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
          transform: scale(1);
}
.modales.active .modal-content {
    opacity: 1;
    border: none;
}
.modales.active .close-modal {
    -webkit-transform: translateY(10px);
          transform: translateY(10px);
    opacity: 1;
}




/**
 * Modal
 */
.modales {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
          align-items: center;
    -webkit-box-pack: center;
          justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    -webkit-transform: scale(1.2);
          transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modales .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.modales .close-modal svg {
    width: 1.75em;
    height: 1.75em;
}
.modales .modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal-content {
    border: none;
    position: unset !important;
}

.modales.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
          transform: scale(1);
}
.modales.active .modal-content {
    opacity: 1;
    border: none;
}
.modales.active .close-modal {
    -webkit-transform: translateY(10px);
          transform: translateY(10px);
    opacity: 1;
}













/* Image style #1 */
.image-style-one {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width:100%;
}
.image-style-one img {
    width:100%;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.image-style-one .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    /*! border-radius: 3px; */
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.image-style-one:hover .image-hover {
    opacity: 1;
}
.image-style-one:hover img{
}
.image-style-one  .image-caption {
    margin-top: 180px;
    text-align: center;
}
.image-style-one  .image-caption h4 {
    color: #fff;
    margin-bottom:0px;
}
.image-style-one .image-caption p{
    font-size:20px;
    max-width:75%;
    margin:0px auto;
    color:rgba(255,255,255,0.8);
    line-height:23px;
    margin-bottom:5px;
}
.image-style-one .image-caption a{
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
    background:#1693A5;
    color:#fff;
    border-radius:100%;
    line-height:50px;
}

.fas.fa-plus.sd {
    color: white;
    background-color: #EC5538;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: inherit;
    line-height: 50px;
    cursor: pointer;
}

#see-more {
    padding: 0px 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 76px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #EC5538;
}

.col-md-4.ports {
    padding: 0;
}

#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #EC5538;
    font-size: 14px;
    padding: 55px 55px;
}

.over {
    margin: 0px -15px 0px -30px;
}







#header .navbar.navbar-expand-lg{
    background-color: #151515 !important;
    padding: 20px 0px 20px 20px;
}

.navbar-toggler-icon {
    color: white;
    border: 1px solid #423c3c;
    border-radius: 4px;
    height: 33px !important;
    width: 42px !important;
    padding-top: 5px;
    transition-duration: .2s;
}

.navbar-toggler-icon:hover {
    background-color: #333;
}

.fas.fa-chevron-down {
    font-size: 10px;
}

.navbar-nav.ml-auto.text-white {
    font-size: 15px;
}

.nav-link.text-white:hover {
    background-color: #ec5538;
    border-radius: 3px;
    transition: .2s;
}

.nav-item.pr-5.active.nav-link text-white {
    background-color: #EC5538;
}

.active a {
    background-color: #EC5538;
    border-radius: 50px;
}

.dropdown-menu.fade-up.show {
    background-color: #151515;
}

.dropdown-item {
    color: #999 !important;
}

.dropdown-item:hover {
    background-color: #151515 !important;
    color: white !important;
}

.social {
    text-align: right;
    padding-top: 4px;
}

.top-header {
    background-color: #191919;
    color: white;
}

ul.social-share li a {
    color: white;
    background-color: #404040;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
}

.list-inline-item {
    margin-left: -8px;
}

.nav-link.actives.text-white {
    background-color: #ec5538;
    border-radius: 3px;
}

.top-header {
    background-color: #191919;
    color: white;
    padding-top: 10px;
    border-bottom: 1px solid #222;
}

.top-number {
    padding-top: 2px;
}

.list-inline.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}


.search {
    display: inline-block;
}


.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.search-form:hover {
    width: 180px;
}


/* 3.2. Slider style */
.carousel#main-slider .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}
.carousel#main-slider .container-fluid .carousel-indicators li {
    border: 1px solid #333333 !important;
}
.carousel#main-slider .container-fluid .carousel-indicators li.active {
    background-color: #333333;
}

.carousel#main-slider .carousel-inner .item {
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 50px 15px 0;
    background-size: cover;
    background-position: center center;
}

.carousel#main-slider .carousel-inner .item .slide-content h1,
.carousel#main-slider .carousel-inner .item .slide-content p,
.carousel#main-slider .carousel-inner .item .slide-content .btn {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.carousel#main-slider .carousel-inner .item .slide-content h1 {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
.carousel#main-slider .carousel-inner .item .slide-content p {
    -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
.carousel#main-slider .carousel-inner .item .slide-content .btn {
    margin-right: 5px;
    -webkit-transition-duration: 1.4s;
            transition-duration: 1.4s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
.carousel#main-slider .carousel-inner .item .slide-img {
    position: relative;
    display: none;
    margin: 0 auto;
    max-width: 300px;
    min-height: 350px;
    text-align: center;
    padding: 25px;
}

.carousel#main-slider .carousel-inner .item .slide-img .banner,
.carousel#main-slider .carousel-inner .item .slide-img .house,
.carousel#main-slider .carousel-inner .item .slide-img .pattern {
    position: absolute;
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.carousel#main-slider .carousel-inner .item .slide-img .banner {
    top: 0;
    z-index: 3;
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
}
.carousel#main-slider .carousel-inner .item .slide-img .house {
    width: 100%;
    z-index: 2;
    bottom: -40px;
    -webkit-transform: translate(-10px, 0);
            transform: translate(-10px, 0);
    -webkit-transition-duration: .8s;
            transition-duration: .8s;
}
.carousel#main-slider .carousel-inner .item .slide-img .house img {
    height: 250px;
    width: auto;
}
.carousel#main-slider .carousel-inner .item .slide-img .pattern {
    z-index: 1;
    bottom: 0px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
}
.carousel#main-slider .slide-control .left,
.carousel#main-slider .slide-control .right {
    display: block;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background: none;
    border: 1px solid #333333;
    border-radius: 100%;
    z-index: 9;
    top: 80%;
}

.carousel#main-slider .slide-control .left span,
.carousel#main-slider .slide-control .right span {
    display: block;
    position: relative;
    height: 1px;
    width: 18px;
    background-color: #333333;
    top: 23px;
    left: 15px;
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.carousel#main-slider .slide-control .left {
    left: 25%;
}

.carousel#main-slider .slide-control .left span {
    -webkit-transform-origin: left center;
            transform-origin: left center;
}
.carousel#main-slider .slide-control .left span:first-child {
    top: 23px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}
.carousel#main-slider .slide-control .left span:last-child {
    top: 22px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
.carousel#main-slider .slide-control .left:hover span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.carousel#main-slider .slide-control .left:hover span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.carousel#main-slider .slide-control .right {
    right: 25%;
}

.carousel#main-slider .slide-control .right span {
    -webkit-transform-origin: right center;
            transform-origin: right center;
}
.carousel#main-slider .slide-control .right span:first-child {
    top: 23px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
.carousel#main-slider .slide-control .right span:last-child {
    top: 22px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}
.carousel#main-slider .slide-control .right:hover span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.carousel#main-slider .slide-control .right:hover span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


  /* 4. ANIMATIONS */
  /* 4.1. Slider animations */
.carousel#main-slider .carousel-inner .active {
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out 1s;
    transition: all .5s ease-in-out 1s;
} 
.carousel#main-slider .carousel-inner .active .slide-img .banner {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
}
.carousel#main-slider .carousel-inner .active .slide-img .house {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
.carousel#main-slider .carousel-inner .active .slide-img .pattern {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}
.carousel#main-slider .carousel-inner .active .slide-content h1,
.carousel#main-slider .carousel-inner .active .slide-content p,
.carousel#main-slider .carousel-inner .active .slide-content .btn {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}

/* 4.2. Facebook banner animations */
.swing-left {
    -webkit-animation-name: swing-left;
            animation-name: swing-left;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
}

@-webkit-keyframes swing-left {
  0% {
    -webkit-transform: translate(-25px, -10px) rotate(-5deg);
            transform: translate(-25px, -10px) rotate(-5deg);
  }
  49% {
    -webkit-transform: translate(-30px, -20px) rotate(5deg);
            transform: translate(-30px, -20px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-25px, -10px) rotate(-5deg);
            transform: translate(-25px, -10px) rotate(-5deg);
  }
}

@keyframes swing-left {
  0% {
    -webkit-transform: translate(-25px, -10px) rotate(-5deg);
            transform: translate(-25px, -10px) rotate(-5deg);
  }
  49% {
    -webkit-transform: translate(-30px, -20px) rotate(5deg);
            transform: translate(-30px, -20px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-25px, -10px) rotate(-5deg);
            transform: translate(-25px, -10px) rotate(-5deg);
  }
}
.swing-right {
    -webkit-animation-name: swing-right;
          animation-name: swing-right;
    -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
    -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@-webkit-keyframes swing-right {
  0% {
    -webkit-transform: translate(25px, -10px) rotate(5deg);
            transform: translate(25px, -10px) rotate(5deg);
  }
  49% {
    -webkit-transform: translate(30px, -20px) rotate(-5deg);
            transform: translate(30px, -20px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(25px, -10px) rotate(5deg);
            transform: translate(25px, -10px) rotate(5deg);
  }
}

@keyframes swing-right {
  0% {
    -webkit-transform: translate(25px, -10px) rotate(5deg);
            transform: translate(25px, -10px) rotate(5deg);
  }
  49% {
    -webkit-transform: translate(30px, -20px) rotate(-5deg);
            transform: translate(30px, -20px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(25px, -10px) rotate(5deg);
            transform: translate(25px, -10px) rotate(5deg);
  }
}
/* 5. EXTRA INFORMATION ELEMENTS */
/* 5.1. Color pallete */
.color-pallete ul {
    margin: 0;
    padding: 25px 0;
    text-align: center;
}
.color-pallete ul li {
    display: inline-block;
    width: 80px;
    height: 25px;
}
.color-pallete ul li#ocean-dark {
    background-color: #083157;
}
.color-pallete ul li#ocean-blue {
    background-color: #0A6C87;
}
.color-pallete ul li#ocean-green {
    background-color: #459C97;
}
.color-pallete ul li#ocean-greenish {
    background-color: #92CCA5;
}
.color-pallete ul li#ocean-coast {
    background-color: #C9F0B1;
}

/* 5.2. Copyright information */
.copyright {
    text-align: center;
}

.carousel-indicators li {
    border: 1px solid gray;
}


.slide-content h1 {
    color: white;
    font-size: 57px;
    font-weight: 900;
}


.left.carousel-control {
    width: 40px !important;
    background-color: #EC5538;
    height: 40px;
    top: 208px;
    z-index: 35;
    opacity: 1;
    background-image: none !important;
}





.left.carousel-control {
    width: 40px !important;
    background-color: #EC5538;
    height: 40px;
    top: 208px;
    z-index: 35;
    background-image: none;
    border-radius: 4px;
}


.slide-control .fas.fa-angle-left {
    padding: 10px 2px 0px 0px;
}

.right.carousel-control {
    width: 40px !important;
    background-color: #EC5538;
    height: 40px;
    top: 208px;
    z-index: 35;
    opacity: 1;
    background-image: none;
    border-radius: 4px;
}


.slide-control .fas.fa-angle-right {
    padding: 10px 2px 0px 0px;
}

.slide-content p {
    color: white;
    font-size: 17px;
    font-weight: 500;
}


.slide-content #about {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}

.slide-content #register {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
    padding: 0 30px;
    line-height: 40px;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
}


ul.social-share li a:hover {
    background-color: #ec5538;
    transition: .7s;
}