@media all and (min-width: 699px) {
  .switch__box-heading,
  .switch__box-copy {
    float: right;
    width: 66.66%;
  }

  .switch__box-image {
    float: left;
    width: 33.33%;
    padding-right: 20px;
  }
}



@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}



@media only screen and (min-width: 437px) {
  .modal-overlay {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    visibility: visible;
    opacity: 0.5;
    z-index: 10;
  }
}




@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }
.modales.active .modal-content {
  	opacity: 1;
 	border: none;
  	border: 14px solid white;
}
  .modales {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 0 !important;
    z-index: 10;
    margin: 125px 0px 0px 65px;
  }

  .close-modal {
    right: 20px !important;
  }
}


@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{
  	display:block;
  	opacity: 0;
  	visibility: hidden; 
  	transition:.3s; 
  	margin-top:0;
  }
  .navbar .nav-item:hover .nav-link{
  	color: #fff;
  }
  .navbar .dropdown-menu.fade-down{
  	top:80%;
  	transform:
  	rotateX(-75deg);
  	transform-origin: 0% 0%; 
  }
  .navbar .dropdown-menu.fade-up{ 
  	top:180%;  
  }
  .navbar .nav-item:hover .dropdown-menu{ 
  	transition: .3s; 
  	opacity:1; 
  	visibility:visible; 
  	top:57px; 
  	transform: rotateX(0deg); 
  	background-color: #151515;}
} 



@media (min-width: 767px) {
  .carousel#main-slider .carousel-inner .item {
    padding: 80px 80px 0;
  }
}
.carousel#main-slider .carousel-inner .item .slide-content {
  display: block;
  padding: 0;
  margin: 155px -30px;
  text-align: center;
}
@media (min-width: 767px) {
  .carousel#main-slider .carousel-inner .item .slide-content {
    text-align: left;
  }
}

@media (min-width: 767px) {
  .carousel#main-slider .carousel-inner .item .slide-img {
    display: block;
  }
}

@media (min-width: 767px) {
  .carousel#main-slider .slide-control .left,
  .carousel#main-slider .slide-control .right {
    top: 45%;
  }
}


@media (min-width: 767px) {
  .carousel#main-slider .slide-control .left {
    left: 15px;
  }
}


@media (min-width: 767px) {
  .carousel#main-slider .slide-control .right {
    right: 15px;


  }
}



@media (max-width: 768px) {
.top-number {
    text-align: center;
}

.list-inline.social-share {
    text-align: center;
    display: inherit;
    padding-left: 10px;
}

.search {
    text-align: center;
    display: inherit;
    padding-top: 10px;
	padding-bottom: 10px;
}



.image-caption {
    padding-top: 92px;
    padding-left: 20px;
}

.footer-texts.py-4 {
    text-align: center;
}

.list-group.list-group-horizontal {
text-align: center;
}
    




.image-caption {
    margin-top: 110px !important;
}


    
  }

